@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist: "Geist", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-geist);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
